body {

background-color: antiquewhite;



}

caption {
    color: red;
    text-align: center;



}

p {

    text-align: center;


}

#banner {

max-height: 100%;
max-width: 100%;
height: auto;
width: auto;


}

table, th, td {

border: 1px solid black;



}

ol > li {

    text-decoration: underline;


}

a:hover {
    color:crimson;
    




}