$color: green;



ul {
    color: $color;



}

ol {
    color: $color;



}

#override_header {

    color: $color;




}

%grade {
    font: italic bold;
    font-family: 'Times New Roman', Times, serif;




}

.HG {
    @extend %grade;
    color:black;
    background-color: white;





}

.MG {

@extend %grade;
color: yellow;
background-color: darkgoldenrod;

}

.RG {


    @extend %grade;
    color: yellow;
    background-color: black;


}

.PG {


    @extend %grade;
    color: gold;
    background-color: silver;


}

* {

padding: 10px;


}

@media (min-width: 720px) {
    #override_body {


    background-color:white;  
    color: black;      
    }



}

@media (max-width: 719px) {

#override_body {

background-color: black;
color: white;




}



}


figure {
    font-size: 18px;
    ol {

        ul{

            color:red;

        }




    }




}
